* {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.svg-main {
  width: 70vw;
  height: 70vh;
  min-width: 340px;
}

.arrow {
  transform: rotate(312deg);
  transform-origin: 50% 50%;
  fill: url("#gradient");
  filter: drop-shadow(2px 4px 4px black);
}

.speedometer {
  /* fill: #3b3838; */
  fill: url("#main-gradient");
}

.center-circle {
  stroke: red;
  fill: black;
}

.speed-lines {
  stroke: white;
  stroke-width: 2;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.small-speed-lines {
  stroke: white;
  stroke-width: 0.5;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.speed-values {
  font-size: 0.65rem;
  font-family: Open Sans, Roboto, Segoe UI, sans-serif;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.unit-kmh {
  fill: white;
  font-family: Roboto, Segoe UI, sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
}

.mileage {
  transform: translate(96px, 72%);
}

.mileage-rect {
  fill: #7de37d;
}

.mileage-text-container {
  text-align: center;
  margin-top: 4px;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}

.mileage-text {
  color: black;
  margin: 0;
  font-family: Raleway, Segoe UI, Roboto, sans-serif;
  font-size: 0.32rem;
  font-weight: bold;
}

.mileage-digits {
  font-family: LCD, sans-serif;
  font-size: 0.6rem;
  fill: black;
}

.pedal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedal {
  height: 30vh;
}

.pedal:hover,
.pedal:focus {
  background-color: #8dda8d;
}

.pedal-container h6 {
  margin: 0;
  font-size: 3vw;
}

.pause-button {
  margin-top: 1rem;
}
